/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#junglehunter-table {
    background-color: white;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;
}

#junglehunter-table th, #junglehunter-table td {
    text-align: left;
    padding: 8px;
}

#junglehunter-table tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

#junglehunter-table tbody tr:hover {
    background-color: #dfdfdf;
}

.junglehunter-selected-table {
    background-color: #dfdfdf !important;
}

#junglehunter-input {
    box-sizing: border-box;
    border: 2px solid #ddd;
    padding: 8px 10px;
}

#junglehunter-input h1 {
    padding: 0;
}

.junglehunter-input-row {
    margin-bottom: 10px;
}

.junglehunter-input-row input, .junglehunter-input-row textarea, .junglehunter-input-row select {
    width: 100%;
    max-width: 100% !important;
}

.junglehunter-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.junglehunter-input-row input::-moz-placeholder {
    color: #999;
}

.junglehunter-input-row input:-ms-input-placeholder {
    color: #999;
}

.junglehunter-input-row input::-webkit-input-placeholder {
    color: #999;
}

.junglehunter-error-message {
    color: red;
}

.junglehunter-red-border {
    border-color: red !important;
}

.junglehunter-button {
    background-color: #DCDCDC;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    transition: 0.2s;
}

.junglehunter-button:hover:enabled {
    background-color: #D3D3D3;
}

.junglehunter-buttons {
    display: flex;
    justify-content: flex-end;
}

.junglehunter-buttons * {
    margin-left: 0.8rem;
}
